.FormContainer{
    width: 50%;
    display: inline-block;
    margin-left: 25%;
    padding: 40px;
    border-style: groove;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #f2f2f2;
    margin-bottom: 80px;
}
.form{
    text-align: left;
}

.body{

    width: 100%;
    height: 100%;
   
    background-size: 100% 100%;
    
}

.header{
    font-size: 60px;
    color: white;
    font-weight: 500;
}
